# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
data/preprocesing/gpt_corpus_labeling/final_df_for_labels_v2.pkl
.env